<head> 

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         alternative-url
      </a>
    </div>
  </div>
</nav>
   <div class = "container"> 
   <div class = "jumbotron"> 
     <div class = "row"> 
        <div class = "col-md-12"> 
            <div class = "text-center"> 
                <h1>alternative-url</h1>
                <p>A small service providing smaller URLs</p>
                <a class = "btn btn-primary" href = "https://github.com/nicholascm90/alternative-url">Check out the code</a>
            </div>
        </div>    

    </div>  
   
   
   </div>
   
   <h3>Using the Service</h3>
   
    <ol class = "list-group">
        <li class = "list-group-item">Pass in a valid URL (you must include HTTP or HTTPS) <code>https://fierce-everglades-29355.herokuapp.com/https://www.google.com</code></li> 
        <li class = "list-group-item">Receive an alternative URL in JSON.
            <code> <br>
                { <br>
                        providedUrl: "https://www.google.com", <br>
                        alternativeUrl: "https://fierce-everglades-29355.herokuapp.com/1"<br>
                } <br>
            </code>
        </li>
        <li class = "list-group-item">Visit the alternative URL <code> e.g. https://fierce-everglades-29355.herokuapp.com/1 </code></li>
        <li class = "list-group-item">Be redirected to the original URL you passed in <code>https://www.google.com</code></li>
    </ol> 
    
    <div class="alert alert-info" role="alert">The service will not allow duplicates. Invalid URLs will respond with an error.</div>

</div> 
    
    
</body>
